.container-fluid{
  background-color: #eceaea;
}

.col-md-6 {
    width: 48% !important;
    border-radius: 1rem;
    border-color: lightgrey;
    border-width: 0.1rem;
    border-style: solid;
    margin: 0.75rem;
    background-color: white;
    box-shadow: 3px 3px 3px #888888;
}

#gauge-chart{
  height: 280px !important;
  max-height: 280px !important;
}

#gauge{
  height: 32rem;
}
